body{
  background-color: blueviolet;
}
form, .output{
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  background-color: aliceblue;
}
input, textarea{
  width: 100%;
  margin: 10px 0;
}
.delete:hover{
  text-decoration: line-through;
  cursor: pointer;
}